.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .card {
    width: 300px;
    height: 400px;
    background-color: #d0ecf3;
    padding: 20px;
    text-align: center;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-content {
    font-size: 14px;
  }